<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitBurger</title>
</head>
<body>
    <% for (const item of menu) { %>
    <div>
        <h3><%= item.burger_name %></h3>
        <p><%= item.price %></p>
    </div>
    <% } %>
</body>
</html>