<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    
        h3{color: cadetblue;}
        body{background-color: bisque; font-family: Courier;}
        p {color: cadetblue; font-family: Courier,;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GitBurger</title>
</head>
<body>
    <form>
         <input type="text" name="search_burger" id="search_burger">
         <button type="submit">Sök</button>
    </form>
    <div>
        <h3><%= burger.burger_name %></h3>
        <p><%= burger.price %></p>
    </div>
</body>
</html>